<hr class="featurette-divider">
<hr class="featurette-divider">
<hr class="featurette-divider">

<h3>List of Authors with books in LMS Application as of {{ today | date: shortDate | lowercase  }}. Total {{ totalAuthors }}.</h3> <button type="button" class="btn btn-primary">Create New Author</button>
<div class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-col--9">
    <ngb-pagination [collectionSize]="totalAuthors" [(page)]="pager.currentPage" [maxSize]="5" [boundaryLinks]="true"
      (pageChange)="setPage($event)"></ngb-pagination>
  </div>
</div>
<div class="ds-l-row ds-u-margin-top--3">
  Search: <input type="Text" [(ngModel)]="searchString" (input)="searchAuthors()">
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author Name</th>
      <th scope="col">Books Written</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of pagedItems  | lmsSort ; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{a.authorName | uppercase}}</td>
      <td><span *ngFor="let b of a.books">{{b.title}},</span></td>
      <td><button type="button" class="btn btn-primary" (click)="open(editAuthorModal, a)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="deleteAuthor(a)">Delete</button></td>
    </tr>
  </tbody>
</table>

<ng-template #editAuthorModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Author</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Author Name:</label>
            <input class="form-control" name="authorName" [(ngModel)]="selectedAuthor.authorName"
              value={{selectedAuthor.authorName}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateAuthor()">Save</button>
      </div>
    </div>
  </div>
</ng-template>